<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include :: header">
    <meta charset="UTF-8">
</head>
<body>


    <div class="border-layout" >
        <div class="border-framework">
            <div class="border-table-title">
                表单项
            </div>

            <hr>
            <div class="border-table-padding">

                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline" style="width: 450px;">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">作者</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入作者" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline" style="width: 450px;">
                            <label class="layui-form-label">类别</label>
                            <div class="layui-input-block">
                                <select name="city" lay-verify="required">
                                    <option value=""></option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline" style="width: 35.4%"> <!-- 注意：这一层元素并不是必须的 -->
                            <label class="layui-form-label">时间</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="date" placeholder="请选择时间">
                            </div>
                        </div>

                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">封面</label>
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" id="cover">
                                <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                            <div id="editor">
                                <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <div th:include="include::footer" ></div>
</body>
<script src="/js/wangEditor.min.js"></script>
<script>
    //Demo
    layui.use(['form', 'laydate', 'upload'], function(){
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#date'
            ,value: new Date()
            ,type: 'datetime'
            ,isInitValue: true
        });

        //执行上传实例
        upload.render({
            elem: '#cover' //绑定元素
            ,url: '/upload/' //上传接口
            ,done: function(res){
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });

    });

    //wangEditor编辑器
    var E = window.wangEditor;
    var editor = new E('#editor');
    editor.customConfig.uploadImgServer = '/upload';
    editor.customConfig.zIndex = 100;
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create();
</script>
</html>