.login-right {
    width: 330px;
    height: 420px;
    float: right;
    margin: 100px 120px;
    box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
}
.layui-form-label {
    width: 48px!important;
}
.layui-input-block {
    margin-left: 48px!important;
}
.layui-form-pane {
    margin: 25px;
}
.login-hint-text {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 25px;
}
.layui-btn.layui-btn-normal {
    width: 100%;
}
.layui-form-pane .layui-form-checkbox {
    margin-left: 0;
}
.forget_password a {
    float: right;
    background: 0 0;
    color: #6773fb !important;
    margin-top: 10px;
}
body {
    background:#fff url("../img/login-bg-whale.png") no-repeat left top;
    background-size:100%;
}
@media screen and (max-width: 450px) {
    .login-right {
        width: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -240px;
    }
    body {
        background:#fff url("../img/login-bg-m-whale.png") no-repeat left top;
        background-size:100%;
    }
}