/*其他页面样式*/
.border-layout {
    background-color: #FFF;
    margin: 15px;
    border-radius: 2px;
    margin-bottom: 60px;
}
.border-table-title {
    padding: 15px;
}
.border-framework hr {
    margin: 0;
}
.border-table-padding {
    padding: 10px 15px;
}
