/*其他页面样式*/
html {
    overflow: hidden;
}
.border-layout {
    background-color: #FFF;
    margin: 15px;
    border-radius: 2px;
    margin-bottom: 60px;
}
.border-table-title {
    padding: 15px;
}
.border-framework hr {
    margin: 0;
}
.border-table-padding {
    padding: 10px 15px;
}
.layui-form-label {
    color: #666;
}

input::-webkit-input-placeholder{
    color: rgba(133, 136, 133, 0.71);
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: rgba(133, 136, 133, 0.71);
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: rgba(133, 136, 133, 0.71);
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color: rgba(133, 136, 133, 0.71);
}
