<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<style type="text/css">
    .layui-icon{
        padding: 5px;
        cursor:pointer;
        font-size: 19px;
        border-radius: 3px;
    }
    .layui-icon:hover {
        background-color: #5FB878;
        color: #ffffff;
    }
    .ico-style {
        margin: 10px;
        display: inline-block;
    }
</style>
<body>

<div class="ico-list">
    <div class="ico-style"><i class="layui-icon layui-icon-rate-half"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-rate"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-rate-solid"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-cellphone"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-vercode"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-login-wechat"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-login-qq"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-login-weibo"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-password"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-username"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-refresh-3"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-auz"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-spread-left"></i></div>
    <div class="ico-style"><i class="layui-icon layui-icon-shrink-right"></i></div>
</div>

</body>
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript">
    var index = parent.layer.getFrameIndex(window.name);
    //给父页面传值
    $('.ico-style i').on('click', function(){
        parent.$('#iconClass').val($(this).attr('class'));
        parent.$('#icon').html($(this)[0]);
        //parent.layer.tips('Look here', '#parentIframe', {time: 5000});
        parent.layer.close(index);
    });
</script>
</html>