<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Whale</title>
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="css/index.css">
  <style>


  </style>
</head>
<body class="layui-layout-body" >
<div class="layui-layout layui-layout-admin" id="main-layout">
  <div class="layui-header">
    <!--<div class="layui-logo"><span>layuiAdmin Pro</span></div>-->
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item nav" id="hideBtn">
          <a>
              <i class="layui-icon layui-icon-shrink-right"></i>
          </a>
      </li>
      <li class="layui-nav-item nav">
          <a>
              <i class="layui-icon layui-icon-website"></i>
          </a>
      </li>
      <li class="layui-nav-item nav">
          <a>
              <i class="layui-icon layui-icon-refresh-3"></i>
          </a>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          	<cite>贤心</cite>
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
          <hr/>
          <dd><a href="" style="text-align: center">退出</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
      	<a href="javascript:;"> 
          	<i class="layui-icon layui-icon-more-vertical"></i> 
          </a>
      </li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <div class="layui-logo"><span>Whale System</span></div>
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="sider-menu">
        <li class="layui-nav-item"><!-- layui-nav-itemed -->
          <a href="javascript:;">
          	<i class="layui-icon layui-icon-home"></i> 
          	<cite>主页</cite> 
          </a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" lay-href="/welcome" lay-id="1">了解LayUI</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">
              <i class="layui-icon layui-icon-auz"></i>
              <cite>系统</cite>
          </a>
          <dl class="layui-nav-child">
              <dd><a href="javascript:;" lay-href="/article" lay-id="2">用户管理</a></dd>
              <dd><a href="javascript:;" lay-href="/articleCat" lay-id="3">角色管理</a></dd>
              <dd><a href="javascript:;" lay-href="/permission" lay-id="4">权限管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">
          	<i class="layui-icon layui-icon-read"></i>
          	<cite>内容</cite>
          </a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" lay-href="/article" lay-id="5">文章管理</a></dd>
              <dd><a href="javascript:;" lay-href="/articleCat" lay-id="6">文章类别</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
        	<a href="javascript:;">
          	<i class="layui-icon layui-icon-app"></i> 
          	<cite>三级菜单</cite> 
          </a>
          <dl class="layui-nav-child">
            <dd>
            	<a href="javascript:;">列表一</a>
            	<dl class="layui-nav-child">
		            <dd><a href="javascript:;" lay-href="href.html">列表加一</a></dd>
		            <dd><a href="javascript:;">列表加二</a></dd>
		            <dd><a href="javascript:;">列表加三</a></dd>
		          </dl>
            </dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>

  <div class="layui-body">

      <!-- 选项卡功能start -->
      <div class="layui-tab layui-tab-brief" lay-allowClose="true" lay-filter="tab">
          <ul class="layui-tab-title">
              <li class="layui-this" lay-id="1">了解LayUI</li>
          </ul>
          <div class="layui-tab-content">
              <div class="layui-tab-item layui-show" >
                  <iframe src="/welcome" width="100%" height="93%" name="iframe" scrolling="auto" class="iframe"
                          frameborder="0"></iframe>
              </div>
          </div>
      </div>
      <!-- 选项卡功能end -->

  </div>

  <!--<div class="layui-footer">
    &lt;!&ndash; 底部固定区域 &ndash;&gt;
    © layui.com - 底部固定区域
  </div>-->
</div>
<script type="text/javascript" src="js/jquery.min.js" ></script>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script>
//JavaScript代码区域
</script>
</body>
</html>